.node-red/flow.json
[{"type":"tab","id":"3da7d61f.c2582a","label":"Web UI Requests"},{"type":"tab","id":"9de614af.6219e8","label":"Views"},{"type":"tab","id":"e6cb8acf.193478","label":"Blog Config"},{"type":"tab","id":"6b3df53f.94c20c","label":"Blog API"},{"type":"tab","id":"209acccb.df6534","label":"File Server"},{"id":"df235ef2.20dca","type":"subflow","name":"Authentication","in":[{"x":99,"y":171,"wires":[{"id":"5713c9e.fa8ec38"}]}],"out":[{"x":1160,"y":232,"wires":[{"id":"f02a023.f0fd6","port":0}]}]},{"id":"48d77fd6.b7288","type":"subflow","name":"Accept Uploaded File","in":[{"x":80,"y":161,"wires":[{"id":"1986f11d.e6790f"}]}],"out":[{"x":1455,"y":163,"wires":[{"id":"b4cb5e7f.4b34a","port":0}]}]},{"id":"4ad4b457.b52b4c","type":"subflow","name":"Search File","in":[{"x":81,"y":239,"wires":[{"id":"4e184976.b1e7b8"}]}],"out":[{"x":1144,"y":238,"wires":[{"id":"e7c243f4.183dc","port":0}]}]},{"id":"a1022b25.5efdd8","type":"subflow","name":"Update File Info","in":[{"x":80,"y":187,"wires":[{"id":"a3da516f.5c25b"}]}],"out":[{"x":1426,"y":190,"wires":[{"id":"436efcdc.bc9104","port":0}]}]},{"id":"17310930.e8cef7","type":"subflow","name":"Get File Info","in":[{"x":90,"y":152,"wires":[{"id":"fe030d52.01fcf"}]}],"out":[{"x":1112,"y":152,"wires":[{"id":"7eb12959.814ed8","port":0}]}]},{"id":"a2ec348e.5d13c8","type":"subflow","name":"Get file list","in":[{"x":205,"y":135,"wires":[{"id":"de4a6044.21b5a"}]}],"out":[{"x":1448,"y":138,"wires":[{"id":"e2a6d337.1d593","port":0}]}]},{"id":"603c3566.9fc3cc","type":"subflow","name":"Find file by Id","in":[{"x":153.75000190734863,"y":194.75000476837158,"wires":[{"id":"ac01d887.53fe28"}]}],"out":[{"x":1493.7500019073486,"y":194.50000190734863,"wires":[{"id":"ca0edfaf.35f12","port":0}]}]},{"id":"8a4eb231.75b15","type":"subflow","name":"Delete file By Id","in":[{"x":168,"y":250,"wires":[{"id":"ec53ab11.13ac58"}]}],"out":[{"x":1315,"y":250,"wires":[{"id":"cfadbc4.f30524","port":0}]}]},{"id":"75a3d63f.8a5c28","type":"subflow","name":"Authentication For File Server","in":[{"x":61,"y":95,"wires":[{"id":"76113be5.89eec4"}]}],"out":[{"x":1168,"y":156,"wires":[{"id":"f8eb954f.071468","port":0}]}]},{"id":"e4d94cc0.1b26b","type":"file write","name":"","path":"/views/theme1/blog/list.ejs","x":661,"y":574,"z":"9de614af.6219e8","wires":[[]]},{"id":"b53ee207.4ac12","type":"template","name":"/views/blog/list.ejs","field":"","format":"handlebars","template":"","x":339,"y":574,"z":"9de614af.6219e8","wires":[["e4d94cc0.1b26b"]]},{"id":"93d326e4.6c2cd8","type":"file write","name":"","path":"/views/theme1/blog/article.ejs","x":669,"y":635,"z":"9de614af.6219e8","wires":[[]]},{"id":"76213db3.89dec4","type":"template","name":"/views/blog/article.ejs","field":"","format":"handlebars","template":"","x":349,"y":635,"z":"9de614af.6219e8","wires":[["93d326e4.6c2cd8"]]},{"id":"21a19e6a.de5e62","type":"markdown renderer","name":"","x":432,"y":131,"z":"e6cb8acf.193478","wires":[["80c45274.7f3bb"]]},{"id":"874e0d7f.78b1f","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":167,"y":131,"z":"e6cb8acf.193478","wires":[["21a19e6a.de5e62"]]},{"id":"80c45274.7f3bb","type":"function","name":"custom renderer","func":"var renderer = msg.payload;\n\nrenderer.image = function(href, title, text) {\n    return '<p class=\"caption\">' +\n        '<img class=\"responsive-img\" src=\"' + href + '\"></p>';    \n}\n\nrenderer.paragraph = function(text) {\n    return '<p class=\"caption\">' \n    + text + '</p>';\n}\n\nrenderer.link = function(href, title, text) {\n    if (title && title.indexOf(\"btn\") >= 0) {\n        return '<a class=\"btn\" href=\"' + href+ '\">' \n            + text + '</a>';\n    }\n    return '<a href=\"' + href+ '\">' \n    + text + '</a>';\n}\n\nrenderer.heading = function(text, level) {\n    var tag = 'h' + level;\n    \n    return '<' + tag + ' class=\"section scrollspy\">' + text + '</' + tag +'>';\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":131,"z":"e6cb8acf.193478","wires":[[]]},{"id":"87fb139c.7804f","type":"file write","name":"","path":"/views/theme1/blog/editor.ejs","x":666,"y":699,"z":"9de614af.6219e8","wires":[[]]},{"id":"14a6d932.eb5927","type":"template","name":"/views/blog/editor.ejs","field":"","format":"handlebars","template":"","x":349,"y":699,"z":"9de614af.6219e8","wires":[["87fb139c.7804f"]]},{"id":"b53c0a73.4ac3f8","type":"file write","name":"","path":"/views/theme1/blog/edit.ejs","x":663,"y":767,"z":"9de614af.6219e8","wires":[[]]},{"id":"66840aa4.997bf4","type":"template","name":"/views/blog/edit.ejs","field":"","format":"handlebars","template":"","x":345,"y":767,"z":"9de614af.6219e8","wires":[["b53c0a73.4ac3f8"]]},{"id":"ed153809.12eac8","type":"http response","name":"","x":1463,"y":153,"z":"6b3df53f.94c20c","wires":[]},{"id":"9d7b88e6.628478","type":"function","name":"Prepare output","func":"if (msg.code == 200) {\n    msg.payload = {\n        code: 200,\n        data: 'ok'\n    }\n} else {\n    msg.payload = {\n        code: 500,\n        data: 'Failed'\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1288,"y":153,"z":"6b3df53f.94c20c","wires":[["ed153809.12eac8"]]},{"id":"8e13a5f2.71ec58","type":"mongodb","name":"","server":"","collection":"blog","operation":"insert","x":1055,"y":153,"z":"6b3df53f.94c20c","wires":[["9d7b88e6.628478"]]},{"id":"697d7d7b.968284","type":"function","name":"insert query","func":"var doc = msg.payload.doc;\n\ndoc.updateAt = doc.createAt;\n\nmsg.payload = {\n    doc: doc\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":827,"y":153,"z":"6b3df53f.94c20c","wires":[["8e13a5f2.71ec58"]]},{"id":"a8cc050f.5733f8","type":"http in","name":"","url":"/article","method":"post","swaggerDoc":"","x":134,"y":184,"z":"6b3df53f.94c20c","wires":[["412fa2f.fbed05c"]]},{"id":"e237afb2.1dc85","type":"function","name":"New or Update?","func":"var id = msg.req.body.id;\n\nvar title = msg.req.body.title;\n\nvar content = msg.req.body.content;\n\nvar digest = msg.req.body.digest || '';\n\nvar featuredImage = msg.req.body.featuredImage;\n\nvar type = msg.req.body.type || 'blog';\n\nvar tags = msg.req.body.tags || [];\n\nif (type == 'blog') {\n    var index = tags.indexOf('page');\n    if (index > -1) {\n        tags.splice(index, 1);\n    }\n    if (tags.indexOf('blog') < 0) {\n        tags.push('blog');\n    }\n    \n} else {\n    var index = tags.indexOf('blog');\n    if (index > -1) {\n        tags.splice(index, 1);\n    }\n    if (tags.indexOf('page') < 0) {\n        tags.push('page');\n    }\n}\n\ntags = tags.join('|').toLowerCase().split('|');\n\nif (!featuredImage || featuredImage === '') {\n    featuredImage =  '/landing/images/defaultFeaturedImage.jpg';\n}\n\n\nmsg.payload.doc = {\n    featuredImage: featuredImage,\n    title: title,\n    digest: digest,  \n    content: content,\n    tags: tags\n}  \n\nif (!id || id === '') {\n    msg.code = 201;  // create\n    msg.payload.doc['createAt'] = new Date();\n} else {\n    msg.code = 202;  // update\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":491,"y":184,"z":"6b3df53f.94c20c","wires":[["4a84946c.b57b6c"]]},{"id":"4a84946c.b57b6c","type":"switch","name":"","property":"code","rules":[{"t":"eq","v":"201"},{"t":"eq","v":"202"}],"checkall":"true","outputs":2,"x":661,"y":184,"z":"6b3df53f.94c20c","wires":[["697d7d7b.968284"],["1f842fac.e07bd"]]},{"id":"5af40368.a50bfc","type":"http response","name":"","x":1466,"y":217,"z":"6b3df53f.94c20c","wires":[]},{"id":"e1583962.1ea7c8","type":"function","name":"Prepare output","func":"if (msg.code == 200) {\n    msg.payload = {\n        code: 200,\n        data: 'ok'\n    }\n} else {\n    msg.payload = {\n        code: 500,\n        data: 'Failed'\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1289,"y":217,"z":"6b3df53f.94c20c","wires":[["5af40368.a50bfc"]]},{"id":"fcd5ab1e.032a58","type":"mongodb","name":"","server":"","collection":"blog","operation":"update","x":1053,"y":217,"z":"6b3df53f.94c20c","wires":[["e1583962.1ea7c8"]]},{"id":"1f842fac.e07bd","type":"function","name":"update article","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.req.body.id;\n\nvar doc = msg.payload.doc;\ndoc.updateAt = new Date();\n\nmsg.payload = {\n    selector: {\n        _id: new ObjectID(id)\n    },\n    doc: {\n        $set: doc\n    }    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":829,"y":217,"z":"6b3df53f.94c20c","wires":[["fcd5ab1e.032a58"]]},{"id":"4c240297.b3dbfc","type":"http in","name":"","url":"/article","method":"delete","swaggerDoc":"","x":144,"y":304,"z":"6b3df53f.94c20c","wires":[["cad8073a.3527f8"]]},{"id":"11cbd35f.ee342d","type":"mongodb","name":"","server":"","collection":"blog","operation":"remove","x":853,"y":304,"z":"6b3df53f.94c20c","wires":[["98df9f86.67206"]]},{"id":"6762764e.989d88","type":"function","name":"remove query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.req.body.id;\n\nmsg.payload = {\n    selector: {\n        _id: new ObjectID(id)\n    }    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":304,"z":"6b3df53f.94c20c","wires":[["11cbd35f.ee342d"]]},{"id":"3d01dd3a.c2fe22","type":"http response","name":"","x":1294,"y":304,"z":"6b3df53f.94c20c","wires":[]},{"id":"98df9f86.67206","type":"function","name":"Prepare output","func":"if (msg.code == 200) {\n    msg.payload = {\n        code: 200,\n        data: 'ok'\n    }\n} else {\n    msg.payload = {\n        code: 500,\n        data: 'Failed'\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1085,"y":304,"z":"6b3df53f.94c20c","wires":[["3d01dd3a.c2fe22"]]},{"id":"cad8073a.3527f8","type":"subflow:df235ef2.20dca","x":373,"y":304,"z":"6b3df53f.94c20c","wires":[["6762764e.989d88"]]},{"id":"412fa2f.fbed05c","type":"subflow:df235ef2.20dca","x":324,"y":225,"z":"6b3df53f.94c20c","wires":[["e237afb2.1dc85"]]},{"id":"1bb9a3c6.e4465c","type":"catch","name":"","x":125,"y":36,"z":"6b3df53f.94c20c","wires":[["bfaaf0f5.40551"]]},{"id":"bfaaf0f5.40551","type":"debug","name":"","active":true,"console":"false","complete":"false","x":303,"y":36,"z":"6b3df53f.94c20c","wires":[]},{"id":"a9f756e5.5608a8","type":"comment","name":"insert or update an article","info":"#### post parameter\n\n- **title**: article title\n- **content**: article content\n- **digest**: article digest\n- **featuredImage**: article featured Image\n- **type**: 'blog' or 'page'\n- **id**: [optional] only required to update, if no id defined a new article will be created\n- **tags** list of tags\n\nNo UI View is attached to this API.\n\n","x":178,"y":148,"z":"6b3df53f.94c20c","wires":[]},{"id":"deb3bbf1.214c48","type":"comment","name":"delete an article","info":"#### URL parameter\n\n**id**: article id","x":152,"y":270,"z":"6b3df53f.94c20c","wires":[]},{"id":"4b93e391.b46c1c","type":"mongodb default config","name":"","server":"","x":1103,"y":129,"z":"e6cb8acf.193478","wires":[]},{"id":"3e6e8ee7.c19172","type":"http in","name":"","url":"/article/searchByTags","method":"get","swaggerDoc":"","x":185,"y":412,"z":"6b3df53f.94c20c","wires":[["fb7c3867.0483c8"]]},{"id":"d3f56cbc.2c0a9","type":"mongodb","name":"","server":"","collection":"blog","operation":"find","x":885,"y":412,"z":"6b3df53f.94c20c","wires":[["21f73042.de08d"]]},{"id":"1b1ac069.e4e54","type":"function","name":"search query","func":"var limit = Number(msg.payload.limit);\nvar page = Number(msg.payload.page);\n\nvar key = msg.payload.key;\n\nvar selector = {};\n\nif (key) {\n    key = key.replace(/ /g, '');\n    var tags = key.split(',');\n    selector = {\n        tags: {\n            $in: tags\n        }\n    }\n}\n\nmsg.payload = {\n    selector: selector,\n    options: {\n        sort: [['createAt', 'desc']],\n        skip: limit * page,\n        limit: limit\n    }\n};\n\nmsg.page = page;\nmsg.limit = limit;\n\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":412,"z":"6b3df53f.94c20c","wires":[["d3f56cbc.2c0a9"]]},{"id":"fb7c3867.0483c8","type":"function","name":"request paramter","func":"var key = msg.req.query.key;\nvar limit = msg.req.query.limit;\nvar page = msg.req.query.page;\n\nmsg.payload.key = key || '';\nmsg.payload.limit = limit || 10;\nmsg.payload.page = page || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":412,"z":"6b3df53f.94c20c","wires":[["1b1ac069.e4e54"]]},{"id":"febc7ec9.01438","type":"comment","name":"search article by tags","info":"","x":167,"y":377,"z":"6b3df53f.94c20c","wires":[]},{"id":"21f73042.de08d","type":"http response","name":"","x":1147,"y":412,"z":"6b3df53f.94c20c","wires":[]},{"id":"68373297.97c8cc","type":"comment","name":"=================blog rest api================","info":"","x":748,"y":110,"z":"6b3df53f.94c20c","wires":[]},{"id":"953af4ca.6ac508","type":"mongodb","name":"","server":"","collection":"blog","operation":"ensureIndex","x":773,"y":236,"z":"e6cb8acf.193478","wires":[["d99a5b0f.2665a8"]]},{"id":"35a525dd.ca5ada","type":"inject","name":"Ensure blog index","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":196,"y":236,"z":"e6cb8acf.193478","wires":[["53f461bb.ac0ba"]]},{"id":"53f461bb.ac0ba","type":"function","name":"Prepare index","func":"msg.payload = {};\n\nmsg.payload.name = 'blog_full_text_index'\n\nmsg.payload.keys = {\n    title: 'text',\n    content: 'text',\n    tags: 'text'\n}\n\nmsg.payload.options = {\n    weights: {\n        title: 5,\n        content: 10,\n        tags: 1\n    },\n    name: 'blog_full_text_index'\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":236,"z":"e6cb8acf.193478","wires":[["953af4ca.6ac508"]]},{"id":"d99a5b0f.2665a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1065,"y":236,"z":"e6cb8acf.193478","wires":[]},{"id":"306e4bb9.cf91b4","type":"http in","name":"","url":"/article/search","method":"get","swaggerDoc":"","x":162,"y":517,"z":"6b3df53f.94c20c","wires":[["2c3b7688.d3c48a"]]},{"id":"f452560e.0bada8","type":"mongodb","name":"","server":"","collection":"blog","operation":"find","x":862,"y":517,"z":"6b3df53f.94c20c","wires":[["436b4e8d.bc94b"]]},{"id":"748e5675.8b71a8","type":"function","name":"search query","func":"var limit = Number(msg.payload.limit);\nvar page = Number(msg.payload.page);\n\nvar key = msg.payload.key;\n\nvar tags = msg.payload.tags;\n\nvar selector = {};\n\nif (key) {\n    selector = {\n        $text: {\n            $search: key\n        }\n    }\n}\n\nif (tags) {\n    tags = tags.replace(/ /g, '');\n    tags = tags.split(',');\n\n    selector.tags = {\n        $in: tags\n    };\n}\n\n\n\nmsg.payload = {\n    selector: selector,\n    options: {\n        sort: [['createAt', 'desc']],\n        skip: limit * page,\n        limit: limit\n    }\n};\n\nmsg.page = page;\nmsg.limit = limit;\n\nreturn msg;","outputs":1,"noerr":0,"x":629,"y":517,"z":"6b3df53f.94c20c","wires":[["f452560e.0bada8"]]},{"id":"2c3b7688.d3c48a","type":"function","name":"request paramter","func":"var key = msg.req.query.key;\nvar limit = msg.req.query.limit;\nvar page = msg.req.query.page;\nvar tags = msg.req.query.tags;\n\nmsg.payload.key = key || '';\nmsg.payload.limit = limit || 10;\nmsg.payload.page = page || 0;\nmsg.payload.tags = tags || null;\n\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":517,"z":"6b3df53f.94c20c","wires":[["748e5675.8b71a8"]]},{"id":"436b4e8d.bc94b","type":"http response","name":"","x":1124,"y":517,"z":"6b3df53f.94c20c","wires":[]},{"id":"4625cab2.b9da34","type":"comment","name":"article full text search","info":"#### URL parameter\n\n**key** the search keywords\n**page** the return page number\n**limit** max number of records for a page\n**tags** the tags for the search","x":168,"y":483,"z":"6b3df53f.94c20c","wires":[]},{"id":"392f9e06.c6d062","type":"http in","name":"","url":"/pages","method":"get","swaggerDoc":"","x":110,"y":279,"z":"3da7d61f.c2582a","wires":[["361874b9.c9e78c"]]},{"id":"85b32225.7a4ce","type":"markdown render","name":"","from":"text","source":"","x":957,"y":521,"z":"3da7d61f.c2582a","wires":[["362ba6c6.c9d45a"]]},{"id":"7eb39d5b.814c64","type":"function","name":"search query","func":"var limit = Number(msg.payload.limit);\nvar page = Number(msg.payload.page);\n\n\nvar selector = {\n    tags: {\n        $in: ['page']\n    }\n}\n\n\nmsg.payload = {\n    selector: selector,\n    options: {\n        sort: [['createAt', 'desc']],\n        skip: limit * page,\n        limit: limit\n    }\n};\n\nmsg.page = page;\nmsg.limit = limit;\n\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":278,"z":"3da7d61f.c2582a","wires":[["daef6e33.25109"]]},{"id":"7e63293e.819cd8","type":"ejs render","name":"","template":"blog/article","x":1250,"y":583,"z":"3da7d61f.c2582a","wires":[["83652332.7c9ae"]]},{"id":"83652332.7c9ae","type":"http response","name":"","x":1442,"y":583,"z":"3da7d61f.c2582a","wires":[]},{"id":"362ba6c6.c9d45a","type":"function","name":"Prepare article","func":"\nmsg.ctx.article.content = msg.payload;\n\nmsg.payload = {\n    article: msg.ctx.article\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1168,"y":521,"z":"3da7d61f.c2582a","wires":[["7e63293e.819cd8"]]},{"id":"2ca0db10.d35f24","type":"mongodb","name":"","server":"","collection":"blog","operation":"find","x":606,"y":580,"z":"3da7d61f.c2582a","wires":[["48abf180.b7541"]]},{"id":"fba737a3.0458c8","type":"function","name":"search query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.req.query.id;\n\nmsg.payload = {\n    selector: {\n        _id: new ObjectID(id)\n    }    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":580,"z":"3da7d61f.c2582a","wires":[["2ca0db10.d35f24"]]},{"id":"d808fd6e.27f7","type":"http in","name":"","url":"/article","method":"get","swaggerDoc":"","x":106,"y":580,"z":"3da7d61f.c2582a","wires":[["fba737a3.0458c8"]]},{"id":"48abf180.b7541","type":"function","name":"Prepare markdown","func":"if (!msg.hasOwnProperty('ctx')) {\n    msg.ctx = {};\n}\n\n// temporily put article in context\nmsg.ctx.article = msg.payload[0];\n\nmsg.payload = msg.payload[0].content;\n\nreturn msg;","outputs":1,"noerr":0,"x":862,"y":580,"z":"3da7d61f.c2582a","wires":[["85b32225.7a4ce"]]},{"id":"36e99c75.c91664","type":"ejs render","name":"","template":"blog/editor","x":604,"y":702,"z":"3da7d61f.c2582a","wires":[["df23133a.20dcf"]]},{"id":"621c8438.9de37c","type":"http in","name":"","url":"/new","method":"get","swaggerDoc":"","x":101,"y":702,"z":"3da7d61f.c2582a","wires":[["936294bf.6c9d68"]]},{"id":"df23133a.20dcf","type":"http response","name":"","x":894,"y":702,"z":"3da7d61f.c2582a","wires":[]},{"id":"8e07cd60.71f83","type":"ejs render","name":"","template":"blog/edit","x":1227,"y":824,"z":"3da7d61f.c2582a","wires":[["b47929d2.4b86d8"]]},{"id":"2e654738.d19ab8","type":"http in","name":"","url":"/edit","method":"get","swaggerDoc":"","x":98,"y":824,"z":"3da7d61f.c2582a","wires":[["4fea043a.b015fc"]]},{"id":"b47929d2.4b86d8","type":"http response","name":"","x":1427,"y":824,"z":"3da7d61f.c2582a","wires":[]},{"id":"aec16f4f.513e9","type":"mongodb","name":"","server":"","collection":"blog","operation":"find","x":754,"y":824,"z":"3da7d61f.c2582a","wires":[["ebac64f8.145398"]]},{"id":"e942efe.f16bd1","type":"function","name":"search query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.req.query.id;\n\nmsg.payload = {\n    selector: {\n        _id: new ObjectID(id)\n    }    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":824,"z":"3da7d61f.c2582a","wires":[["aec16f4f.513e9"]]},{"id":"ebac64f8.145398","type":"function","name":"prepare the article","func":"msg.payload.article = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":989,"y":824,"z":"3da7d61f.c2582a","wires":[["8e07cd60.71f83"]]},{"id":"4fea043a.b015fc","type":"subflow:df235ef2.20dca","x":340,"y":824,"z":"3da7d61f.c2582a","wires":[["e942efe.f16bd1"]]},{"id":"936294bf.6c9d68","type":"subflow:df235ef2.20dca","x":330,"y":702,"z":"3da7d61f.c2582a","wires":[["36e99c75.c91664"]]},{"id":"361874b9.c9e78c","type":"function","name":"request paramter","func":"var limit = msg.req.query.limit;\nvar page = msg.req.query.page;\n\n\nmsg.payload.limit = limit || 10;\nmsg.payload.page = page || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":279,"z":"3da7d61f.c2582a","wires":[["7eb39d5b.814c64"]]},{"id":"f6dc43c9.0923c","type":"http in","name":"","url":"/page","method":"get","swaggerDoc":"","x":103,"y":543,"z":"3da7d61f.c2582a","wires":[["fba737a3.0458c8"]]},{"id":"49691f49.b696e","type":"http in","name":"","url":"/","method":"get","swaggerDoc":"","x":102,"y":143,"z":"3da7d61f.c2582a","wires":[["1b73e667.e48c1a"]]},{"id":"85080b2e.7af7f8","type":"http response","name":"","x":1425,"y":205,"z":"3da7d61f.c2582a","wires":[]},{"id":"6da28784.925d78","type":"function","name":"Prepare list","func":"msg.payload = {\n    type: 'blog',\n    page: msg.page,\n    limit: msg.limit,\n    articles: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1056,"y":205,"z":"3da7d61f.c2582a","wires":[["8c35db72.73ca28"]]},{"id":"8c35db72.73ca28","type":"ejs render","name":"","template":"blog/list","x":1239,"y":205,"z":"3da7d61f.c2582a","wires":[["85080b2e.7af7f8"]]},{"id":"daef6e33.25109","type":"mongodb","name":"","server":"","collection":"blog","operation":"find","x":832,"y":205,"z":"3da7d61f.c2582a","wires":[["6da28784.925d78"]]},{"id":"93445eb5.6cbba","type":"function","name":"search query","func":"var limit = Number(msg.payload.limit);\nvar page = Number(msg.payload.page);\n\n\nvar selector = {\n    tags: {\n        $in: ['blog']\n    }\n}\n\n\nmsg.payload = {\n    selector: selector,\n    options: {\n        sort: [['createAt', 'desc']],\n        skip: limit * page,\n        limit: limit\n    }\n};\n\nmsg.page = page;\nmsg.limit = limit;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":143,"z":"3da7d61f.c2582a","wires":[["daef6e33.25109"]]},{"id":"1b73e667.e48c1a","type":"function","name":"request paramter","func":"var limit = msg.req.query.limit;\nvar page = msg.req.query.page;\n\n\nmsg.payload.limit = limit || 10;\nmsg.payload.page = page || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":143,"z":"3da7d61f.c2582a","wires":[["93445eb5.6cbba"]]},{"id":"65eea5ab.9a115c","type":"comment","name":"Get blog lists","info":"####URL parameter:\n\n**page**: the current page\n\n**limit**: blog number to be shown on each page, default 10\n\nexample:\nhttp://yourdomain.com/blog?page=0&limit=10\n\n&nbsp;\n\n&nbsp;\n\n####Theme editing guide:\n\n**blog/list** ejs template could access following context data:\n\n**type**: 'blog' or 'page', indicates the article type\n\n**page**: the current page number\n\n**limit**: current max article number per page\n\n**articles**: list of articles","x":117,"y":108,"z":"3da7d61f.c2582a","wires":[]},{"id":"e7d1a51b.182e58","type":"comment","name":"Get page list","info":"URL parameter:\n\n**page**: the current page\n\n**limit**: blog number to be shown on each page, default 10\n\nexample:\nhttp://yourdomain.com/pages?page=0&limit=10\n\n&nbsp;\n\n&nbsp;\n\n####Theme editing guide:\n\n**blog/list** ejs template could access following context data\n\n**type**: 'blog' or 'page', indicates the article type\n\n**page**: the current page number\n\n**limit**: current max article number per page\n\n**articles**: list of articles","x":112,"y":244,"z":"3da7d61f.c2582a","wires":[]},{"id":"ddd84587.2227b8","type":"comment","name":"get page or blog article","info":"####URL parameter:\n\n**id**: the article/page id\n\n\nexample:\nhttp://yourdomain.com/yourwebroot/page?id=xddkfsreorueor\nhttp://yourdomain.com/yourwebroot/blog/article?id=xddkfsreorueor\n\n&nbsp;\n\n&nbsp;\n\n####Theme editing guide:\n\n**blog/article** ejs template could access following context data\n\n**article**: article object, with attributes\n\n- title\n- featuredImage\n- digest\n- content\n- createAt\n- tags\n\n\n\n\n","x":142,"y":507,"z":"3da7d61f.c2582a","wires":[]},{"id":"a296d182.5d693","type":"comment","name":"editor page to create a new article","info":"#### No parameter required\n\n#### Theme guide\n\n**blog/editor** ejs template, no special data is passed to this view\n\n- root\n- home","x":177,"y":667,"z":"3da7d61f.c2582a","wires":[]},{"id":"1d7c358a.e283ca","type":"comment","name":"edit an existing article","info":"#### URL parameter\n\n**id**: article id\n\n#### Theme guide\n\n**blog/edit** ejs template, no special data is passed to this view\n\n- root\n- home","x":136,"y":790,"z":"3da7d61f.c2582a","wires":[]},{"id":"c0030bc9.3ffcf8","type":"comment","name":"=================blog ui views================","info":"","x":665,"y":97,"z":"3da7d61f.c2582a","wires":[]},{"id":"5b6603a5.a499fc","type":"http in","name":"","url":"/category","method":"get","swaggerDoc":"","x":117,"y":418,"z":"3da7d61f.c2582a","wires":[["eb4ce362.14b32"]]},{"id":"5ea75553.a158ac","type":"ejs render","name":"","template":"blog/category","x":614,"y":418,"z":"3da7d61f.c2582a","wires":[["6ee7b119.91185"]]},{"id":"6ee7b119.91185","type":"http response","name":"","x":916,"y":418,"z":"3da7d61f.c2582a","wires":[]},{"id":"eb4ce362.14b32","type":"function","name":"get parameter","func":"var category = msg.req.query.cat\n\nmsg.payload.category = category;\n\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":418,"z":"3da7d61f.c2582a","wires":[["5ea75553.a158ac"]]},{"id":"12ac718.fed538e","type":"comment","name":"Get blogs by category","info":"","x":140,"y":384,"z":"3da7d61f.c2582a","wires":[]},{"id":"3cc8a91c.c33756","type":"catch","name":"","x":103,"y":52,"z":"3da7d61f.c2582a","wires":[["ce428ccb.31bd7"]]},{"id":"ce428ccb.31bd7","type":"debug","name":"","active":true,"console":"false","complete":"false","x":281,"y":52,"z":"3da7d61f.c2582a","wires":[]},{"id":"bd144ea8.42ebb","type":"file write","name":"","path":"/views/theme1/common/head.ejs","x":657,"y":192,"z":"9de614af.6219e8","wires":[[]]},{"id":"ef561254.10a9f","type":"template","name":"/views/common/head.ejs","field":"","format":"html","template":"","x":352,"y":192,"z":"9de614af.6219e8","wires":[["bd144ea8.42ebb"]]},{"id":"8ef8f0d3.71071","type":"file write","name":"","path":"/views/theme1/common/footer.ejs","x":658,"y":264,"z":"9de614af.6219e8","wires":[[]]},{"id":"806880e1.7f978","type":"template","name":"/views/common/footer.ejs","field":"","format":"html","template":"","x":353,"y":264,"z":"9de614af.6219e8","wires":[["8ef8f0d3.71071"]]},{"id":"c405f422.3bfa08","type":"file write","name":"","path":"/views/theme1/common/navbar.ejs","x":662,"y":335,"z":"9de614af.6219e8","wires":[[]]},{"id":"bb798aa5.448678","type":"template","name":"/views/common/navbar.ejs","field":"","format":"html","template":"","x":357,"y":335,"z":"9de614af.6219e8","wires":[["c405f422.3bfa08"]]},{"id":"d9eb3764.2614c8","type":"comment","name":"========== common ejs template ===========","info":"","x":478,"y":141,"z":"9de614af.6219e8","wires":[]},{"id":"188d463a.e772ba","type":"file write","name":"","path":"/views/theme1/blog/category.ejs","x":666,"y":832,"z":"9de614af.6219e8","wires":[[]]},{"id":"568a8d09.a97574","type":"template","name":"/views/blog/category.ejs","field":"","format":"handlebars","template":"","x":361,"y":832,"z":"9de614af.6219e8","wires":[["188d463a.e772ba"]]},{"id":"f20d104e.0df2f","type":"comment","name":"========== blog view template ===========","info":"","x":510,"y":526,"z":"9de614af.6219e8","wires":[]},{"id":"a764df8d.589b2","type":"comment","name":"============ README ============","info":"## UI design guide\n\nYou could put your ejs content in the template node [ { ] triggered by an inject node.\n(Tick 'fire once at start')\n\nOr \n\nyou could create the file directly in your application folder.\n\n\n\n\n","x":483,"y":55,"z":"9de614af.6219e8","wires":[]},{"id":"17cbe3a3.e8341c","type":"inject","name":"blog primary menu","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":197,"y":340,"z":"e6cb8acf.193478","wires":[["f04b5714.0fb4a8"]]},{"id":"f04b5714.0fb4a8","type":"function","name":"prepare primary-menu","func":"var root = context.global.getVariable('root');\n\nmsg.payload = \n[\n    {\n        type: 'link',\n        name: 'Home',\n        value: root + '/'\n    },\n    {\n        type: 'link',\n        name: 'Another Top Level Menu',\n        value: root + '/'\n    },\n    {\n        type: 'group',\n        id: 'wavelet-pack-1',\n        name: 'Dropdown Menu',\n        value: [\n            {\n                type: 'link',\n                name: 'Sub Menu',\n                value: root + '/'\n            },\n        ]\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":340,"z":"e6cb8acf.193478","wires":[["17ce54ab.e831ab"]]},{"id":"a9ecefb.f56131","type":"file write","name":"","path":"/views/theme1/common/scripts.ejs","x":658,"y":403,"z":"9de614af.6219e8","wires":[[]]},{"id":"e76130a0.189ed","type":"template","name":"/views/common/scripts.ejs","field":"","format":"html","template":"","x":353,"y":403,"z":"9de614af.6219e8","wires":[["a9ecefb.f56131"]]},{"id":"2c006ba2.d3ff94","type":"http in","name":"","url":"/theme","method":"post","swaggerDoc":"","x":145,"y":616,"z":"6b3df53f.94c20c","wires":[["f28b4a69.0d74b8"]]},{"id":"f28b4a69.0d74b8","type":"subflow:df235ef2.20dca","x":369,"y":616,"z":"6b3df53f.94c20c","wires":[["45d4d1c8.ba2b3"]]},{"id":"45d4d1c8.ba2b3","type":"function","name":"change theme query","func":"var theme = msg.req.body.theme;\n\nif (!theme) {\n    msg.payload = 'views';\n} else {\n    msg.payload = 'views/' + theme;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":624,"y":616,"z":"6b3df53f.94c20c","wires":[["3bd2b501.c42d4a"]]},{"id":"3bd2b501.c42d4a","type":"ejs config","name":"","viewsDir":"","x":881,"y":616,"z":"6b3df53f.94c20c","wires":[["337243bf.cc8dbc"]]},{"id":"337243bf.cc8dbc","type":"http response","name":"","x":1130,"y":616,"z":"6b3df53f.94c20c","wires":[]},{"id":"57719f72.a88e6","type":"comment","name":"change the theme","info":"","x":161,"y":583,"z":"6b3df53f.94c20c","wires":[]},{"id":"86b5abf9.794a58","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":431,"y":664,"z":"6b3df53f.94c20c","wires":[["77d4f312.882b0c"]]},{"id":"77d4f312.882b0c","type":"function","name":"default theme","func":"msg.payload = 'views';\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":664,"z":"6b3df53f.94c20c","wires":[["3bd2b501.c42d4a"]]},{"id":"17ce54ab.e831ab","type":"set property","name":"","property":"primary-menu","x":718,"y":340,"z":"e6cb8acf.193478","wires":[[]]},{"id":"cda2fd46.325d","type":"file write","name":"","path":"/views/theme1/blog/admin.ejs","x":654,"y":904,"z":"9de614af.6219e8","wires":[[]]},{"id":"c8045945.37fba8","type":"template","name":"/views/blog/admin.ejs","field":"","format":"html","template":"","x":349,"y":904,"z":"9de614af.6219e8","wires":[["cda2fd46.325d"]]},{"id":"8ba92b22.7456d8","type":"http in","name":"","url":"/admin","method":"get","swaggerDoc":"","x":108,"y":932,"z":"3da7d61f.c2582a","wires":[["f0880ff0.0f77f"]]},{"id":"f0880ff0.0f77f","type":"subflow:df235ef2.20dca","x":347,"y":932,"z":"3da7d61f.c2582a","wires":[["f458bc3a.0ba74"]]},{"id":"a69ab1b5.59655","type":"comment","name":"blog admin console","info":"","x":132,"y":894,"z":"3da7d61f.c2582a","wires":[]},{"id":"f458bc3a.0ba74","type":"ejs render","name":"","template":"blog/admin","x":624,"y":933,"z":"3da7d61f.c2582a","wires":[["21fe576.fde01a8"]]},{"id":"21fe576.fde01a8","type":"http response","name":"","x":889,"y":933,"z":"3da7d61f.c2582a","wires":[]},{"id":"a1a6abed.5e5958","type":"inject","name":"","topic":"","payload":"blog","payloadType":"string","repeat":"","crontab":"","once":true,"x":163,"y":450,"z":"e6cb8acf.193478","wires":[["1ab65ea0.e549a1"]]},{"id":"1ab65ea0.e549a1","type":"set property","name":"","property":"collection-blog","x":433,"y":450,"z":"e6cb8acf.193478","wires":[[]]},{"id":"1986f11d.e6790f","type":"function","name":"clear payload","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":161,"z":"48d77fd6.b7288","wires":[["dea449cb.215bb8"]]},{"id":"dea449cb.215bb8","type":"get property","name":"","property":"accept-extensions","x":373,"y":246,"z":"48d77fd6.b7288","wires":[["897dfc46.7682"]]},{"id":"897dfc46.7682","type":"function","name":"get uploaded file","func":"var eventbus = context.global.getService('eventbus');\n\nvar acceptedExtensions = msg.payload;\n\nvar req = msg.req;\n\nif (!req.files || !req.files.hasOwnProperty('fx-file')) {\n eventbus.emit('http.upload.fail', msg);\n return null;\n}\n\nmsg.payload = req.files['fx-file'];\n\nif (acceptedExtensions && acceptedExtensions.indexOf(msg.payload.extension) < 0) {\n msg.statusCode = 400;\n msg.payload.statusCode = 400;\n eventbus.emit('http.upload.fail', msg);\n return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":162,"z":"48d77fd6.b7288","wires":[["7ef60256.8109fc"]]},{"id":"7ef60256.8109fc","type":"function","name":"insert query","func":"var file = msg.payload;\n\nfile.createAt = new Date();\n\nvar home = context.global.getVariable('_home');\nhome = home.replace(/\\\\/g, '/');\nfile.path = file.path.replace(/\\\\/g, '/');\nfile.path = file.path.replace(home + '/public', '');\n\nmsg.query = {\n doc: file\n};\n\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":162,"z":"48d77fd6.b7288","wires":[["f787e395.08782"]]},{"id":"f787e395.08782","type":"get property","name":"","property":"collection-file","x":839,"y":69,"z":"48d77fd6.b7288","wires":[["68ef296e.9710d8"]]},{"id":"68ef296e.9710d8","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":1018,"y":164,"z":"48d77fd6.b7288","wires":[["b4cb5e7f.4b34a"]]},{"id":"b4cb5e7f.4b34a","type":"mongodb","name":"","server":"","collection":"","operation":"insert","x":1219,"y":164,"z":"48d77fd6.b7288","wires":[[]]},{"id":"4e184976.b1e7b8","type":"function","name":"search query","func":"var limit = Number(msg.payload.limit);\nvar page = Number(msg.payload.page);\n\nvar key = msg.payload.key;\n\nvar selector = {};\nvar sort = [['createAt', 'desc']]\n\nif (key) {\n selector = {\n $text: {\n $search: key\n }\n };\n \n sort = {\n textScore: {\n $meta: \"textScore\"\n }\n };\n}\n\nmsg.payload = {\n selector: selector,\n fields: {\n textScore: {\n $meta: \"textScore\"\n }\n },\n options: {\n sort: sort,\n skip: limit * page,\n limit: limit\n }\n};\n\nmsg.page = page;\nmsg.limit = limit;\n\nmsg.query = msg.payload;\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":261,"y":239,"z":"4ad4b457.b52b4c","wires":[["500db6b4.aff248"]]},{"id":"500db6b4.aff248","type":"get property","name":"","property":"collection-file","x":530,"y":239,"z":"4ad4b457.b52b4c","wires":[["9125944.f6eda68"]]},{"id":"9125944.f6eda68","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":766,"y":239,"z":"4ad4b457.b52b4c","wires":[["e7c243f4.183dc"]]},{"id":"e7c243f4.183dc","type":"mongodb","name":"","server":"","collection":"","operation":"find","x":968,"y":239,"z":"4ad4b457.b52b4c","wires":[[]]},{"id":"a3da516f.5c25b","type":"function","name":"update tags query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.payload.id;\nvar tags = msg.payload.tags;\nvar description = msg.payload.description;\n\nif (!tags) {\n tags = [];\n} else {\n tags = tags.toLowerCase();\n tags = tags.replace(/ /g, '');\n tags = tags.split(',');\n}\n\nvar doc = {\n tags: tags,\n description: description\n};\n\nmsg.payload = {\n selector: {\n _id: new ObjectID(id)\n },\n doc: {\n $set: doc\n } \n};\n\nmsg.query = msg.payload;\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":309,"y":187,"z":"a1022b25.5efdd8","wires":[["3a58a42b.c5a75c"]]},{"id":"436efcdc.bc9104","type":"mongodb","name":"","server":"","collection":"","operation":"update","x":1131,"y":187,"z":"a1022b25.5efdd8","wires":[[]]},{"id":"3a58a42b.c5a75c","type":"get property","name":"","property":"collection-file","x":633,"y":187,"z":"a1022b25.5efdd8","wires":[["345d1446.cba2ec"]]},{"id":"345d1446.cba2ec","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":925,"y":187,"z":"a1022b25.5efdd8","wires":[["436efcdc.bc9104"]]},{"id":"fe030d52.01fcf","type":"function","name":"find query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.payload.id;\n\nmsg.query = {\n selector: {\n _id: new ObjectID(id)\n }\n};\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":217,"y":152,"z":"17310930.e8cef7","wires":[["5b1a212.fa4e5e"]]},{"id":"5b1a212.fa4e5e","type":"get property","name":"","property":"collection-file","x":435,"y":152,"z":"17310930.e8cef7","wires":[["1df0a0e5.e20f5f"]]},{"id":"1df0a0e5.e20f5f","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":699,"y":152,"z":"17310930.e8cef7","wires":[["7eb12959.814ed8"]]},{"id":"7eb12959.814ed8","type":"mongodb","name":"","server":"","collection":"","operation":"find","x":907,"y":152,"z":"17310930.e8cef7","wires":[[]]},{"id":"de4a6044.21b5a","type":"function","name":"search query","func":"var page = Number(msg.payload.page);\nvar limit = Number(msg.payload.limit);\n\nvar selector = {};\n\nmsg.query = {\n selector: selector,\n options: {\n sort: [['createAt', 'desc']],\n skip: page * limit,\n limit: limit\n }\n};\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":138,"z":"a2ec348e.5d13c8","wires":[["cd353061.32cad"]]},{"id":"e2a6d337.1d593","type":"mongodb","name":"","server":"","collection":"","operation":"find","x":1248,"y":138,"z":"a2ec348e.5d13c8","wires":[[]]},{"id":"47bc7dc.fb84384","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":1038,"y":138,"z":"a2ec348e.5d13c8","wires":[["e2a6d337.1d593"]]},{"id":"cd353061.32cad","type":"get property","name":"","property":"collection-file","x":768,"y":138,"z":"a2ec348e.5d13c8","wires":[["47bc7dc.fb84384"]]},{"id":"ac01d887.53fe28","type":"function","name":"find query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.payload.id;\n\nmsg.query = {\n selector: {\n _id: new ObjectID(id)\n }\n};\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":347.50000762939453,"y":195.00000381469727,"z":"603c3566.9fc3cc","wires":[["66e2daa9.991d24"]]},{"id":"66e2daa9.991d24","type":"get property","name":"","property":"collection-file","x":606,"y":195,"z":"603c3566.9fc3cc","wires":[["ff92dc56.006d2"]]},{"id":"306e3975.cf91c6","type":"mongodb","name":"","server":"","collection":"","operation":"find","x":1041.500015258789,"y":195.00000381469727,"z":"603c3566.9fc3cc","wires":[["ca0edfaf.35f12"]]},{"id":"ff92dc56.006d2","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":853.5000152587891,"y":195.00000381469727,"z":"603c3566.9fc3cc","wires":[["306e3975.cf91c6"]]},{"id":"ca0edfaf.35f12","type":"function","name":"get file path to delete","func":"if (msg.payload && msg.payload.length && msg.payload.length > 0) {\n msg.payload = msg.payload[0];\n} else {\n msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1293.5,"y":195,"z":"603c3566.9fc3cc","wires":[[]]},{"id":"ec53ab11.13ac58","type":"function","name":"remove query","func":"var mongodb = context.global.getService('mongodb');\nvar ObjectID = mongodb.ObjectID;\n\nvar id = msg.payload.id;\n\nmsg.query = {\n selector: {\n _id: new ObjectID(id)\n }\n};\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":250,"z":"8a4eb231.75b15","wires":[["75403827.8abfc8"]]},{"id":"75403827.8abfc8","type":"get property","name":"","property":"collection-file","x":624,"y":250,"z":"8a4eb231.75b15","wires":[["2284587f.dd7ba8"]]},{"id":"2284587f.dd7ba8","type":"function","name":"prepare query","func":"var collection = msg.payload;\n\nmsg.payload = msg.query;\nmsg.payload.collection = collection;\n\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":250,"z":"8a4eb231.75b15","wires":[["cfadbc4.f30524"]]},{"id":"cfadbc4.f30524","type":"mongodb","name":"","server":"","collection":"","operation":"remove","x":1098,"y":250,"z":"8a4eb231.75b15","wires":[[]]},{"id":"f8eb954f.071468","type":"switch","name":"","property":"code","rules":[{"t":"eq","v":"200"},{"t":"else"}],"checkall":"true","outputs":2,"x":805,"y":166,"z":"75a3d63f.8a5c28","wires":[[],["6e35bc31.91ca44"]]},{"id":"6e35bc31.91ca44","type":"function","name":"Auth Request","func":"\nmsg.headers = {\n \"WWW-Authenticate\": 'Basic realm=\"wavelet\"'\n}\n\nmsg.statusCode = 401;\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":255,"z":"75a3d63f.8a5c28","wires":[["e8e1d76f.171e28"]]},{"id":"e8e1d76f.171e28","type":"http response","name":"Request Auth","x":1208,"y":255,"z":"75a3d63f.8a5c28","wires":[]},{"id":"1bd5cdd7.e42a32","type":"comment","name":"================= API ================","info":"","x":726,"y":740.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"683f8e6e.97c07","type":"http in","name":"","url":"/api/files","method":"get","swaggerDoc":"","x":131,"y":841.5714559555054,"z":"209acccb.df6534","wires":[["709aef8b.8f651"]]},{"id":"cbabf3b.f34541","type":"http response","name":"","x":897,"y":841.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"709aef8b.8f651","type":"function","name":"Prepare request parameter","func":"var page = msg.req.query.page || 0\nvar limit = msg.req.query.limit || 10\n\nmsg.payload.page = page\nmsg.payload.limit = limit\n\nreturn msg","outputs":1,"noerr":0,"x":392,"y":841.5714559555054,"z":"209acccb.df6534","wires":[["32dd25c1.cd22da"]]},{"id":"81acdbe2.7e5328","type":"http in","name":"","url":"/api/file","method":"delete","swaggerDoc":"","x":137,"y":1044.5714559555054,"z":"209acccb.df6534","wires":[["dee2d6d2.211d28"]]},{"id":"dee2d6d2.211d28","type":"subflow:75a3d63f.8a5c28","x":368,"y":1044.5714559555054,"z":"209acccb.df6534","wires":[["9b4132d1.64bed"]]},{"id":"b4c8b82b.4b3748","type":"http response","name":"","x":1538,"y":1045.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"9b4132d1.64bed","type":"function","name":"Prepare request parameter","func":"var id = msg.req.query.id\n\nmsg.payload.id = id\n\nreturn msg","outputs":1,"noerr":0,"x":627.4444351196289,"y":1044.5714378356934,"z":"209acccb.df6534","wires":[["46cb96d0.b93468"]]},{"id":"adaacf9d.52553","type":"http in","name":"","url":"/api/file","method":"get","swaggerDoc":"","x":129,"y":942.5714559555054,"z":"209acccb.df6534","wires":[["35239f44.cadc6"]]},{"id":"45c2940f.ba3d6c","type":"http response","name":"","x":880,"y":942.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"35239f44.cadc6","type":"function","name":"Prepare request parameter","func":"var id = msg.req.query.id\n\nmsg.payload.id = id\n\nreturn msg","outputs":1,"noerr":0,"x":393,"y":942.5714559555054,"z":"209acccb.df6534","wires":[["58ea272e.a715d8"]]},{"id":"7a3be669.85c418","type":"comment","name":"Get file list","info":"URL parameter:\n\n**page**: the current page\n\n**limit**: number to be shown on each page, default 10\n\nexample:\nhttp://yourdomain.com/yourwebroot/api/files?page=0&limit=10","x":122,"y":805.5714721679688,"z":"209acccb.df6534","wires":[]},{"id":"b5f8eae8.4a0718","type":"comment","name":"get file information","info":"#### URL Parameter\n\n**id** the file id","x":149,"y":907.5714721679688,"z":"209acccb.df6534","wires":[]},{"id":"22305b21.ddcfa4","type":"comment","name":"delete a file","info":"#### URL Parameter\n\n**id** the file id","x":125,"y":1010.5714721679688,"z":"209acccb.df6534","wires":[]},{"id":"2b0750c.fd4f8b","type":"http in","name":"","url":"/api/file","method":"post","swaggerDoc":"","x":135,"y":1157.5714559555054,"z":"209acccb.df6534","wires":[["f5c70d00.0a38f"]]},{"id":"5108f554.aef70c","type":"http response","name":"","x":893,"y":1157.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"22d217a.fdd2de8","type":"eventbus in","name":"","event":"http.upload.fail","x":204.2857208251953,"y":1742.5714635849,"z":"209acccb.df6534","wires":[["53a1e56e.ac5e1c"]]},{"id":"53a1e56e.ac5e1c","type":"http response","name":"upload failed","x":508.2857208251953,"y":1742.5714635849,"z":"209acccb.df6534","wires":[]},{"id":"f5c70d00.0a38f","type":"subflow:75a3d63f.8a5c28","name":"","x":413,"y":1157.5714559555054,"z":"209acccb.df6534","wires":[["5a907c7e.a56f84"]]},{"id":"1c83d66c.e37c2a","type":"comment","name":"upload a file","info":"Accept multipart/form-data form to upload a file\n\nThe file input field name **MUST** be 'fx-file'","x":130,"y":1122.5714111328125,"z":"209acccb.df6534","wires":[]},{"id":"55e8b9a1.aa1748","type":"inject","name":"mongo-collection","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":167.14288330078125,"y":121,"z":"209acccb.df6534","wires":[["7b0b7749.84f488"]]},{"id":"61882bfd.9e77d4","type":"set property","name":"","property":"collection-file","x":736.1428833007812,"y":121,"z":"209acccb.df6534","wires":[[]]},{"id":"3012c37c.cfed3c","type":"comment","name":"================= config ================","info":"","x":695.1428833007812,"y":47,"z":"209acccb.df6534","wires":[]},{"id":"ae9106ac.516ef8","type":"inject","name":"accept extension","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":167.14288330078125,"y":181,"z":"209acccb.df6534","wires":[["1a0873e5.e5f78c"]]},{"id":"b587ead2.4a7818","type":"set property","name":"","property":"accept-extensions","x":717.1428833007812,"y":181,"z":"209acccb.df6534","wires":[[]]},{"id":"1a0873e5.e5f78c","type":"function","name":"accept file extension list","func":"// set to null to accept all extension\nmsg.payload = null;\n\n// Uncomment this to enable the white list\nmsg.payload = [\n    'jpg', \n    'png'\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":405.14288330078125,"y":181,"z":"209acccb.df6534","wires":[["b587ead2.4a7818"]]},{"id":"9161dd63.6e9e2","type":"catch","name":"","x":122.28572082519531,"y":1833.5714635849,"z":"209acccb.df6534","wires":[["4d7befb.fb2841"]]},{"id":"4d7befb.fb2841","type":"debug","name":"","active":true,"console":"false","complete":"false","x":300.2857208251953,"y":1833.5714635849,"z":"209acccb.df6534","wires":[]},{"id":"66101d5.f99efe4","type":"comment","name":"========= error handling ===========","info":"","x":739.2857208251953,"y":1643.5714635849,"z":"209acccb.df6534","wires":[]},{"id":"7b0b7749.84f488","type":"function","name":"set collection name: image","func":"msg.payload = 'image';\n\nreturn msg;","outputs":1,"noerr":0,"x":435.14288330078125,"y":121,"z":"209acccb.df6534","wires":[["61882bfd.9e77d4"]]},{"id":"f3b68b26.0c4978","type":"comment","name":"=========== UI ==========","info":" ","x":680.2857971191406,"y":391.8570508956909,"z":"209acccb.df6534","wires":[]},{"id":"9e0db5e0.61f248","type":"http in","name":"","url":"/fileserver","method":"get","swaggerDoc":"","x":138.28579711914062,"y":466.8570508956909,"z":"209acccb.df6534","wires":[["baa2e75e.455d18"]]},{"id":"baa2e75e.455d18","type":"ejs render","name":"","template":"file_server/index","x":548.2857971191406,"y":466.8570508956909,"z":"209acccb.df6534","wires":[["a9172c26.56e8d"]]},{"id":"a9172c26.56e8d","type":"http response","name":"","x":796.2857971191406,"y":466.8570508956909,"z":"209acccb.df6534","wires":[]},{"id":"253afe1a.dac502","type":"http in","name":"","url":"/api/file","method":"put","swaggerDoc":"","x":128,"y":1320.5714559555054,"z":"209acccb.df6534","wires":[["971f191.f68e0e8"]]},{"id":"971f191.f68e0e8","type":"subflow:75a3d63f.8a5c28","name":"","x":340,"y":1320.5714559555054,"z":"209acccb.df6534","wires":[["fecc33cf.0133d"]]},{"id":"fecc33cf.0133d","type":"function","name":"Prepare request parameter","func":"var id = msg.req.body.id;\nvar tags = msg.req.body.tags;\nvar description = msg.req.body.description;\n\nmsg.payload.id = id;\nmsg.payload.tags = tags;\nmsg.payload.description = description;\n\nreturn msg","outputs":1,"noerr":0,"x":607,"y":1320.5714559555054,"z":"209acccb.df6534","wires":[["3e8a072a.c175f8"]]},{"id":"4640382c.b9bfc8","type":"comment","name":"update file","info":"### Request METHOD: put\n\n#### id\n\nThe file id\n\n#### tags\n\nThe tags seperated by ,\n\n#### description\n\nThe description of file","x":124,"y":1283.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"f599e746.0a6618","type":"http response","name":"","x":1086,"y":1320.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"71115b65.8eeea4","type":"function","name":"Prepare index","func":"var collection = msg.payload;\n\nmsg.payload = {};\n\nmsg.payload.collection = collection;\n\nmsg.payload.name = 'file_server_full_text_index'\n\nmsg.payload.keys = {\n originalname: 'text',\n description: 'text',\n extension: 'text',\n tags: 'text'\n}\n\nmsg.payload.options = {\n weights: {\n originalname: 15,\n description: 1,\n extension: 10,\n tags: 10\n },\n name: 'file_server_full_text_index'\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":835.1428833007812,"y":245,"z":"209acccb.df6534","wires":[["9cedbea9.63124"]]},{"id":"7edfcee3.81203","type":"inject","name":"Ensure file index","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":166.14288330078125,"y":245,"z":"209acccb.df6534","wires":[["5ebdb805.a14248"]]},{"id":"9cedbea9.63124","type":"mongodb","name":"","server":"","collection":"","operation":"ensureIndex","x":1119.1428833007812,"y":245,"z":"209acccb.df6534","wires":[["8e62b59a.719d48"]]},{"id":"5ebdb805.a14248","type":"get property","name":"","property":"collection-file","x":527.1428833007812,"y":245,"z":"209acccb.df6534","wires":[["71115b65.8eeea4"]]},{"id":"8e62b59a.719d48","type":"debug","name":"","active":true,"console":"true","complete":"payload","x":1419.1428833007812,"y":245,"z":"209acccb.df6534","wires":[]},{"id":"142c83f8.ebd37c","type":"http in","name":"","url":"/api/file/search","method":"get","swaggerDoc":"","x":154,"y":1445.5714559555054,"z":"209acccb.df6534","wires":[["da140729.25ebf8"]]},{"id":"da140729.25ebf8","type":"function","name":"request paramter","func":"var key = msg.req.query.key;\nvar limit = msg.req.query.limit;\nvar page = msg.req.query.page;\n\nmsg.payload.key = key || '';\nmsg.payload.limit = limit || 10;\nmsg.payload.page = page || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":1445.5714559555054,"z":"209acccb.df6534","wires":[["b3c2a654.4c3d58"]]},{"id":"32244a43.cddbb6","type":"comment","name":"file full text search","info":"#### URL parameter\n\n**key** the search keywords\n**page** the return page number\n**limit** max number of records for a page\n","x":149,"y":1406.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"9f772985.6088d8","type":"http response","name":"","x":885,"y":1444.5714559555054,"z":"209acccb.df6534","wires":[]},{"id":"1ced0171.e312ff","type":"http in","name":"","url":"/file","method":"get","swaggerDoc":"","x":119.28579711914062,"y":556.8570556640625,"z":"209acccb.df6534","wires":[["94e25acd.6b1da8"]]},{"id":"67b53ec5.984ac","type":"ejs render","name":"","template":"file_server/file","x":633.2857971191406,"y":556.8570508956909,"z":"209acccb.df6534","wires":[["15bb8f9d.ea447"]]},{"id":"15bb8f9d.ea447","type":"http response","name":"","x":801.2857971191406,"y":556.8570508956909,"z":"209acccb.df6534","wires":[]},{"id":"94e25acd.6b1da8","type":"function","name":"find query","func":"var id = msg.req.query.id;\n\nmsg.payload = {\n id: id\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":431.2857971191406,"y":556.8570508956909,"z":"209acccb.df6534","wires":[["67b53ec5.984ac"]]},{"id":"cb16df18.34e92","type":"http in","name":"","url":"/fileserver/admin","method":"get","swaggerDoc":"","x":158.28579711914062,"y":644.8570508956909,"z":"209acccb.df6534","wires":[["ce44879a.31bb78"]]},{"id":"70693410.8f96cc","type":"ejs render","name":"","template":"file_server/admin","x":882.2857666015625,"y":644.8570556640625,"z":"209acccb.df6534","wires":[["3afdd869.c50228"]]},{"id":"3afdd869.c50228","type":"http response","name":"","x":1112.2857666015625,"y":644.8570556640625,"z":"209acccb.df6534","wires":[]},{"id":"a5a3f06f.5a5c1","type":"function","name":"find query","func":"var id = msg.req.query.id;\n\nmsg.payload = {\n id: id\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":655.2857666015625,"y":644.8570556640625,"z":"209acccb.df6534","wires":[["70693410.8f96cc"]]},{"id":"ce44879a.31bb78","type":"subflow:75a3d63f.8a5c28","name":"","x":414.2857666015625,"y":644.8570556640625,"z":"209acccb.df6534","wires":[["a5a3f06f.5a5c1"]]},{"id":"2fbabf89.d0454","type":"eventbus out","name":"","event":"file.removed","x":1483.74609375,"y":910.2221517562866,"z":"209acccb.df6534","wires":[]},{"id":"753cc959.8ac338","type":"function","name":"prepare file.removed event","func":"var deleteResult = msg.payload;\n\nif (deleteResult.ok != 1 || deleteResult.n <= 0) {\n return null;\n}\n\nmsg.payload = {\n path: msg.filePath\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1326.3572616577148,"y":976.2222166061401,"z":"209acccb.df6534","wires":[["2fbabf89.d0454"]]},{"id":"d4e9118c.2b16f","type":"eventbus in","name":"","event":"file.removed","x":187,"y":1539.5714559555054,"z":"209acccb.df6534","wires":[["39fd2fe6.c602d"]]},{"id":"525e6401.ada19c","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":863.3055725097656,"y":1539.4602994918823,"z":"209acccb.df6534","wires":[]},{"id":"52f79e4f.ad086","type":"subflow:8a4eb231.75b15","x":1159.000015258789,"y":1045.5714378356934,"z":"209acccb.df6534","wires":[["b4c8b82b.4b3748","753cc959.8ac338"]]},{"id":"46cb96d0.b93468","type":"subflow:603c3566.9fc3cc","x":833.7777481079102,"y":1044.9047708511353,"z":"209acccb.df6534","wires":[["40d349d.fbf2cb8"]]},{"id":"40d349d.fbf2cb8","type":"function","name":"inject filePath","func":"if (msg.payload) {\n msg.filePath = msg.payload.path; \n msg.payload.id = msg.req.query.id;\n} else {\n return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":990.9999465942383,"y":1044.904803276062,"z":"209acccb.df6534","wires":[["52f79e4f.ad086"]]},{"id":"5f103978.a0efc8","type":"file delete","name":"","x":662.4444427490234,"y":1539.9048109054565,"z":"209acccb.df6534","wires":[["525e6401.ada19c"]]},{"id":"39fd2fe6.c602d","type":"function","name":"prepare path","func":"if (!msg.path) {\n return null;\n}\n\nmsg.payload = 'public/' + msg.path;\nreturn msg;","outputs":1,"noerr":0,"x":436.8888888888889,"y":1539.6825670666165,"z":"209acccb.df6534","wires":[["5f103978.a0efc8"]]},{"id":"32dd25c1.cd22da","type":"subflow:a2ec348e.5d13c8","x":650,"y":841.5714559555054,"z":"209acccb.df6534","wires":[["cbabf3b.f34541"]]},{"id":"58ea272e.a715d8","type":"subflow:17310930.e8cef7","x":653,"y":942.5714559555054,"z":"209acccb.df6534","wires":[["45c2940f.ba3d6c"]]},{"id":"3e8a072a.c175f8","type":"subflow:a1022b25.5efdd8","x":875,"y":1320.5714559555054,"z":"209acccb.df6534","wires":[["f599e746.0a6618"]]},{"id":"b3c2a654.4c3d58","type":"subflow:4ad4b457.b52b4c","x":652,"y":1444.5714559555054,"z":"209acccb.df6534","wires":[["9f772985.6088d8","7b544d81.84abb4"]]},{"id":"5a907c7e.a56f84","type":"subflow:48d77fd6.b7288","x":654,"y":1157.5714559555054,"z":"209acccb.df6534","wires":[["5108f554.aef70c"]]},{"id":"7b544d81.84abb4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":833.1428833007812,"y":1389,"z":"209acccb.df6534","wires":[]},{"id":"f02a023.f0fd6","type":"switch","name":"","property":"code","rules":[{"t":"eq","v":"200"},{"t":"else"}],"checkall":"true","outputs":2,"x":871,"y":242,"z":"df235ef2.20dca","wires":[[],["56edac20.a91254"]]},{"id":"56edac20.a91254","type":"function","name":"Auth Request","func":"\nmsg.headers = {\n \"WWW-Authenticate\": 'Basic realm=\"wavelet\"'\n}\n\nmsg.statusCode = 401;\n\nreturn msg;","outputs":1,"noerr":0,"x":1064,"y":331,"z":"df235ef2.20dca","wires":[["30dbe703.cf2418"]]},{"id":"30dbe703.cf2418","type":"http response","name":"Request Auth","x":1252,"y":331,"z":"df235ef2.20dca","wires":[]},{"id":"1733a1a7.e8cc5e","type":"inject","name":"Basic auth users","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":189,"y":606,"z":"e6cb8acf.193478","wires":[["d5c86c51.2a379"]]},{"id":"156563f9.ea9a9c","type":"set property","name":"","property":"basic-auth-users","x":739,"y":606,"z":"e6cb8acf.193478","wires":[[]]},{"id":"d5c86c51.2a379","type":"function","name":"set basic auth users","func":"msg.payload = {\n    \"admin\": {\n        password: \"admin\",\n        permission: \"*\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":467,"y":606,"z":"e6cb8acf.193478","wires":[["156563f9.ea9a9c"]]},{"id":"91d2359e.6e2dc8","type":"inject","name":"Enable basic auth","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":197,"y":674,"z":"e6cb8acf.193478","wires":[["6746a767.98b958"]]},{"id":"4f0c1ae8.b0f3e4","type":"set property","name":"","property":"enable-basic-auth","x":790,"y":674,"z":"e6cb8acf.193478","wires":[[]]},{"id":"6746a767.98b958","type":"function","name":"set enable basic auth","func":"msg.payload = true\n\nreturn msg;","outputs":1,"noerr":0,"x":478,"y":674,"z":"e6cb8acf.193478","wires":[["4f0c1ae8.b0f3e4"]]},{"id":"b007ad31.4ff85","type":"comment","name":"authentication","info":"","x":446,"y":559,"z":"e6cb8acf.193478","wires":[]},{"id":"50e023b1.af1fdc","type":"get property","name":"","property":"basic-auth-users","x":357,"y":242,"z":"df235ef2.20dca","wires":[["52ced0f0.ad313"]]},{"id":"5713c9e.fa8ec38","type":"function","name":"prepare payload","func":"msg.tmp = msg.payload;\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":256,"y":171,"z":"df235ef2.20dca","wires":[["50e023b1.af1fdc"]]},{"id":"52ced0f0.ad313","type":"function","name":"Verify Basic Auth","func":"var req = msg.req;\n\n// get authentication tokens from global property\nvar authTokens = [];\n\nvar users = msg.payload;\n\nfor (var username in users) {\n    if (users.hasOwnProperty(username)) {\n        if (users[username].hasOwnProperty('password') \n            && users[username].hasOwnProperty('permission')) {\n            if (users[username].permission == '*') {\n                var pwd = users[username].password;\n                authTokens.push('Basic ' + new Buffer(username + ':' + pwd).toString('base64'));\n            }\n        }\n    }\n}\n\nvar basicAuth = req.get('Authorization');\n\n\nif (!basicAuth || authTokens.indexOf(basicAuth) < 0) {\n msg.code = 401;\n msg.payload = 'No authorized';\n\n return msg;\n}\n\nmsg.code = 200\n\nreturn msg;","outputs":1,"noerr":0,"x":679,"y":242,"z":"df235ef2.20dca","wires":[["f02a023.f0fd6"]]},{"id":"ea03d4a1.15fc28","type":"get property","name":"","property":"basic-auth-users","x":296,"y":166,"z":"75a3d63f.8a5c28","wires":[["a1afd8df.5e5028"]]},{"id":"76113be5.89eec4","type":"function","name":"prepare payload","func":"msg.tmp = msg.payload;\n\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":195,"y":95,"z":"75a3d63f.8a5c28","wires":[["ea03d4a1.15fc28"]]},{"id":"a1afd8df.5e5028","type":"function","name":"Verify Basic Auth","func":"var req = msg.req;\n\n// get authentication tokens from global property\nvar authTokens = [];\n\nvar users = msg.payload;\n\nfor (var username in users) {\n    if (users.hasOwnProperty(username)) {\n        if (users[username].hasOwnProperty('password') \n            && users[username].hasOwnProperty('permission')) {\n            if (users[username].permission == '*') {\n                var pwd = users[username].password;\n                authTokens.push('Basic ' + new Buffer(username + ':' + pwd).toString('base64'));\n            }\n        }\n    }\n}\n\nvar basicAuth = req.get('Authorization');\n\n\nif (!basicAuth || authTokens.indexOf(basicAuth) < 0) {\n msg.code = 401;\n msg.payload = 'No authorized';\n\n return msg;\n}\n\nmsg.code = 200\n\nreturn msg;","outputs":1,"noerr":0,"x":618,"y":166,"z":"75a3d63f.8a5c28","wires":[["f8eb954f.071468"]]}]